<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kanban</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
        crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/073dbb8811.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./style/style.css">
</head>
<body>
    <div id="app">
        <div class="alert alert-danger" role="alert" id="alert" v-if="alertMessage">
            <span>{{ alertMessage }}</span>
        </div>
        <div class="navbar d-flex align-items-center">
            <div class="logo">
                <a href="#"><img src="./assets/kanban.png" alt="kanban-logo" height="55"></a>
            </div>
            <div class="menu">
                <ul>
                    <li class="btn btn-primary" v-if="page == 'landing'" @click="showLoginForm">Login</li>
                    <li class="btn btn-danger" v-if="page == 'main'" @click="logout">Logout</li>
                </ul>
            </div>
        </div>

        <!-- Cascading Radio Button -->
        <!-- <div class="btn-group" role="group" aria-label="First group">
            <button type="button" class="btn btn-secondary">Register</button>
            <button type="button" class="btn btn-secondary">Login</button>
        </div> -->
        <div class="container bg-light mt-5 w-25 mb-5 pb-3" v-if="page == 'landing'">
            <!-- <div> -->
                <!-- Register Form -->
                <form id="register-form" @submit.prevent="register" v-if="!registered">
                    <h3 class="mt-3">Register</h3>
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" v-model="registrationName"  placeholder="your name">
                    </div>
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" class="form-control" v-model="registrationEmail" placeholder="your email">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" v-model="registrationPassword" placeholder="your password">
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Register</button>
                    <small id="already-register" class="form-text text-muted pb-1">Already Register? <a href="#" id="straight-to-login" @click="showLoginForm">Login Here</a></small>
                </form>
            <!-- </div> -->
            <!-- <div style="display: none;"> -->
                <!-- Login Form -->
                <form id="login-form" @submit.prevent="login" v-if="registered">
                    <h3 class="mt-3">Login</h3>
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" class="form-control" v-model="loginEmail" aria-describedby="emailHelp" placeholder="your email">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" v-model="loginPassword" placeholder="your password">
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Login</button>
                </form>
            <!-- </div> -->
        </div>
        <img src="./assets/kanban-board.svg" alt="kanban" width="500" v-if="page == 'landing'">


        <!-- Home Page -->
        <div v-if="page === 'main'">
            <div class="d-flex justify-content-between main-head">
                <div>
                    <h2>Hey <span v-text="username"></span>, Welcome to Kanban Board</h2>
                </div>
                <div>
                    <button class="btn btn-primary btn-md" id="addTask">Add New task</button>
                </div>
            </div>
            <div class="kanban-container">
                <div class="kanban-card backlog">
                    <div class="card-head">
                        <h3 class="card-title">Back-Log</h3>
                    </div>
                    <div class="card-body">
                        <!-- task card -->
                        <div class="task-card" v-for="task in backlog" :key="task.id">
                            <div class="task-title">
                                <h5>{{ task.title }}</h5>
                            </div>
                            <div class="task-icon">
                                <i class="fas fa-pen"></i>
                            </div>
                            <div class="task-body">
                                <p>{{ task.description }}</p>
                            </div>
                            <div class="task-deadline">
                                <i class="fas fa-clock"></i>
                                <small>{{ task.due_date }}</small>
                            </div>
                            <div class="task-button">
                                <button class="btn btn-primary btn-sm">Show Detail</button>
                                <i class="fas fa-trash-alt" @click.prevent="deleteTask(task.id)"></i>
                            </div>
                        </div>
                        <!--  -->
                    </div>
                </div>
                <div class="kanban-card todo">
                    <div class="card-head">
                        <h3 class="card-title">Todo</h3>
                    </div>
                    <div class="card-body">
                        <!-- task card -->
                        <div class="task-card" v-for="task in todo" :key="task.id">
                            <div class="task-title">
                                <h5>{{ task.title }}</h5>
                            </div>
                            <div class="task-icon">
                                <i class="fas fa-pen"></i>
                            </div>
                            <div class="task-body">
                                <p>{{ task.description }}</p>
                            </div>
                            <div class="task-deadline">
                                <i class="fas fa-clock"></i>
                                <small>{{ task.due_date }}</small>
                            </div>
                            <div class="task-button">
                                <button class="btn btn-primary btn-sm">Show Detail</button>
                                <i class="fas fa-trash-alt" @click.prevent="deleteTask(task.id)"></i>
                            </div>
                        </div>
                        <!--  -->
                    </div>
                </div>
                <div class="kanban-card doing">
                    <div class="card-head">
                        <h3 class="card-title">Doing</h3>
                    </div>
                    <div class="card-body">
                        <!-- task card -->
                        <div class="task-card" v-for="task in doing" :key="task.id">
                            <div class="task-title">
                                <h5>{{ task.title }}</h5>
                            </div>
                            <div class="task-icon">
                                <i class="fas fa-pen"></i>
                            </div>
                            <div class="task-body">
                                <p>{{ task.description }}</p>
                            </div>
                            <div class="task-deadline">
                                <i class="fas fa-clock"></i>
                                <small>{{ task.due_date }}</small>
                            </div>
                            <div class="task-button">
                                <button class="btn btn-primary btn-sm">Show Detail</button>
                                <i class="fas fa-trash-alt" @click.prevent="deleteTask(task.id)"></i>
                            </div>
                        </div>
                        <!--  -->
                    </div>
                </div>
                <div class="kanban-card done">
                    <div class="card-head">
                        <h3 class="card-title">Done</h3>
                    </div>
                    <div class="card-body">
                        <!-- task card -->
                        <div class="task-card" v-for="task in done" :key="task.id">
                            <div class="task-title">
                                <h5>{{ task.title }}</h5>
                            </div>
                            <div class="task-icon">
                                <i class="fas fa-pen"></i>
                            </div>
                            <div class="task-body">
                                <p>{{ task.description }}</p>
                            </div>
                            <div class="task-deadline">
                                <i class="fas fa-clock"></i>
                                <small>{{ task.due_date }}</small>
                            </div>
                            <div class="task-button">
                                <button class="btn btn-primary btn-sm">Show Detail</button>
                                <i class="fas fa-trash-alt" @click.prevent="deleteTask(task.id)"></i>
                            </div>
                        </div>
                        <!--  -->
                    </div>
                </div>
            </div>
            <div class="container bg-light mt-5 w-75 mb-5 pb-3">
                <form id="add-form" @submit.prevent="addNewTask">
                    <h3 class="mt-3 text-center">Add New Task</h3>
                    <div class="form-group">
                    <label for="title">Task Title</label>
                    <input type="text" class="form-control" v-model="taskTitle" placeholder="your task title">
                    <h5>{{ taskTitle }}</h5>
                    </div>
                    <div class="form-group">
                    <label for="description">Task Description</label>
                    <input type="text" class="form-control" v-model="taskDescription" placeholder="your task description">
                    <h5>{{ taskDescription }}</h5>
                    </div>
                    <div class="form-group">
                        <label for="due_date">Task Due Date</label>
                        <input type="date" class="form-control" v-model="taskDueDate" placeholder="your task due date">
                        <h5>{{ taskDueDate }}</h5>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Add</button>
                </form>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./vue.js"></script>
</body>
</html>