.card {
    width: 22%;
}
.card-header {
    padding: 10px 0 0 10px;
    color: white;
}
.title-card{
    padding: 0 0 0 5px;
}
.card-title {
    border:1px solid;
    padding: 5px 0 5px 10px;
}
.card-body .inner-card {
    height: auto;
}