body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.container-md {
    width: 95vw;
    margin: auto;
}

.title {
    color: darkseagreen;
}

.text-center {
    color: white;
    font-weight: bold;
}

.card-text {
    font-family: 'Roboto', sans-serif;
}

.detail-button {
    color: white;
}