$headColor: rgb(24, 92, 27);
$buttonColor: rgb(15, 2, 75);

:root {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

.container {
    display: flex;
    justify-content: space-between;
}

.nav-container {
    display: flex;
    justify-content: space-between;
}

.sub-container {
    width: 300px;
    margin: 10px;
    font-size: 30px;
    border: black solid 1px;
    border-radius: 5px;
    padding: 0px 0px 10px 0px;
    box-shadow: 2px 2px black;
}   
.head-container {
    border: black solid 1px;
    background-color: red;
    margin: 0px;
    padding: 0px;
}
.title-container {
    margin: 10px 10px 0px 10px;
    border: black solid 1px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
    box-shadow: 2px 2px black;
}

.sub-container-1 {
    margin: 0px 10px;
    border: black solid 1px;
    padding: 10px;
    box-shadow: 2px 2px black;
}

@for $i from 1 through 4 {
    .head-container-#{$i} {
        text-align: center;
        background-color: $headColor;
        color: white;
    }
}

button {
    background-color: $buttonColor;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    color: white;
}

